[access "refs/*"]
	create = group ivi-remotecontrol
	push = +force group ivi-remotecontrol
	pushMerge = group ivi-remotecontrol
	pushTag = +force group ivi-remotecontrol
	label-Verified = -1..+1 group ivi-remotecontrol
	label-Code-Review = -2..+2 group ivi-remotecontrol
	submit = group ivi-remotecontrol
[access]
	inheritFrom = ivi-project
